<a href="https://colab.research.google.com/github/AleksandrPlut/Google-colab/blob/HW_Seminar9/HW_Sem9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Домашнее задание к 9 семинару.**

Задача 40: Работать с файлом california_housing_train.csv, который находится в папке
sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [2]:
import pandas as pd
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [4]:
df.head(1) # это было написано для того чтобы было откуда кипировать названия столбиков

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0

In [9]:
print('Средняя стоимсоть дома, где кол-во людей от 0 до 500 =')
df[(df['population'] > 0) & (df['population'] < 500)]['median_house_value'].mean()
# ну и ниже тоже самое только в одну строку, немного длинновато получается
# print(f'Средняя стоимсоть дома, где кол-во людей от 0 до 500 =', df[(df['population'] > 0) & (df['population'] < 500)]['median_house_value'].mean())

Средняя стоимсоть дома, где кол-во людей от 0 до 500 =

206683.83635227982

Задача 42: Узнать какая максимальная households в зоне минимального значения population

In [10]:
df[df['population'] == df['population'].min()]['households'].max()
# еще одно решение (запись) данной задачи
# max(df[df['population'] == df['population'].min()]['households'])

4.0

Вроде всё.